__pycache__/
*.py[cod]

# Folder created by "pip install -e ."
src/plexusscraper.egg-info/

# Created by "behave --junit" 
reports/

# Created by code coverage report.
.coverage
htmlcov/

# Created by "python setup.py sdist"
dist/
build/

# Tox can be used to run pytest against different Python
# versions, using virtual envs.
.tox/

